<!doctype html>
<html lang="en">
<head>
  <title>FundZone</title> <!-- why doesn't this change in the tab title -->
  <meta charset="UTF-8">
</head>
<body>
  <div class="fixedHeader">
   <!-- Sign Up -->
     <%= render "devise/sessions/new" %>
  </div>
</br>
</br>

</br>

</br>

</br>
</br>

  <div id="sign_up_form">
  <!-- Sign-In -->
  <%= render "devise/registrations/new" %>
  </div>
</body>
</html>