<!doctype html>
<html lang="en">
<head>
  <title>FundZone</title> <!-- why doesn't this change in the tab title -->
  <meta charset="UTF-8">
</head>
<body>
  <div>
   <!-- Sign Up -->
     <%= render "devise/sessions/new" %>

   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>
   </br>


     <%= link_to "Logout", destroy_user_session_path, method: "delete" %>
  </div>
</br>
</br>
</br>
</br>
</br>
</br>

  <div id="sign_up_form">
  <!-- Sign-In -->
  <%= render "devise/registrations/new" %>
  </div>
</body>
</html>